<div class="poi-card-container">
    <div class="poi-info">
        <h2 class="poi-title">{{ placeName() }}</h2>
        <div class="poi-coords">
            <div class="coord-row">
                <span class="label">Latitud</span>
                <span class="value">{{ lat() | number:'1.6-6' }}</span>
            </div>
            <div class="coord-row">
                <span class="label">Longitud</span>
                <span class="value">{{ lon() | number:'1.6-6' }}</span>
            </div>
        </div>
    </div>

    <div class="poi-actions">
        <div class="tooltip-wrapper"
             matTooltip="Este lugar ya está guardado"
             [matTooltipDisabled]="!this.savedPOIs().includes(this.obtainGeohash())">
            <button class="action-btn save-btn"
                    (click)="onSave()"
                    [disabled]="this.savedPOIs().includes(this.obtainGeohash())">
                <mat-icon>bookmark</mat-icon>
            </button>
        </div>

        <button class="action-btn close-btn" (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
        @if(totalPOIs()>2){
            <button class="action-btn nav-btn next-btn"
                    (click)="onPrevious()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button class="action-btn nav-btn next-btn"
                    (click)="onNext()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        }
    </div>
</div>
