<div class="edit-mode">
    <form [formGroup]="editForm" class="edit-form">
        <div class="form-group">
            <label>Alias</label>
            <div class="input-wrapper">
                <input formControlName="alias" placeholder="Mi coche" type="text"/>
                @if (editForm.get('alias')?.value) {
                    <button (click)="clearField('alias')" class="clear-btn" type="button">⊗</button>
                }
            </div>
            @if (editForm.get('alias')?.touched) {
                @if (editForm.get('alias')?.hasError('required')) {
                    <span class="error-msg">Requerido</span>
                } @else if (editForm.get('alias')?.hasError('maxlength')) {
                    <span class="error-msg">
                    Máximo 50 caracteres (actual: {{ editForm.get('alias')?.errors?.['maxlength']?.actualLength }})
                    </span>
                } @else if (editForm.get('alias')?.hasError('onlyWhitespace')) {
                    <span class="error-msg">El campo no puede estar vacío</span>
                } @else {
                }
            }
        </div>

        <div class="form-group">
            <label>Matrícula</label>
            <div class="input-wrapper">
                <input formControlName="matricula" placeholder="1234ABC" type="text"/>
                @if (editForm.get('matricula')?.value) {
                    <button (click)="clearField('matricula')" class="clear-btn" type="button">⊗</button>
                }
            </div>
            @if (editForm.get('matricula')?.touched) {
                @if (editForm.get('matricula')?.hasError('required')) {
                    <span class="error-msg">Requerido</span>
                } @else if (editForm.get('matricula')?.hasError('pattern')) {
                    <span class="error-msg">Formato inválido (Ej: 1234BCD)</span>
                } @else if (editForm.get('matricula')?.hasError('hasVowels')) {
                    <span class="error-msg">No se permiten vocales</span>
                } @else if (editForm.get('matricula')?.hasError('matriculaExists')) {
                    <span class="error-msg">Esta matrícula ya está registrada</span>
                }
            }
        </div>

        <div class="grid-row">
            <div class="form-group">
                <label>Marca</label>
                <div class="input-wrapper">
                    <input formControlName="marca" placeholder="Toyota" type="text"/>
                    @if (editForm.get('marca')?.value) {
                        <button (click)="clearField('marca')" class="clear-btn" type="button">⊗</button>
                    }
                </div>
                @if (editForm.get('marca')?.hasError('required') && editForm.get('marca')?.touched) {
                    <span class="error-msg">Requerido</span>
                }
                @if (editForm.get('marca')?.hasError('onlyWhitespace') && editForm.get('marca')?.touched) {
                    <span class="error-msg">El campo no puede estar vacío</span>
                }
            </div>

            <div class="form-group">
                <label>Modelo</label>
                <div class="input-wrapper">
                    <input formControlName="modelo" placeholder="Corolla" type="text"/>
                    @if (editForm.get('modelo')?.value) {
                        <button (click)="clearField('modelo')" class="clear-btn" type="button">⊗</button>
                    }
                </div>
                @if (editForm.get('modelo')?.hasError('required') && editForm.get('modelo')?.touched) {
                    <span class="error-msg">Requerido</span>
                }
                @if (editForm.get('modelo')?.hasError('onlyWhitespace') && editForm.get('modelo')?.touched) {
                    <span class="error-msg">El campo no puede estar vacío</span>
                }
            </div>
        </div>

        <div class="grid-row">
            <div class="form-group">
                <label>Año</label>
                <div class="input-wrapper">
                    <input
                        [max]="maxYear"
                        [min]="minYear"
                        formControlName="anyo"
                        placeholder="2020"
                        type="number"
                    />
                    @if (editForm.get('anyo')?.value) {
                        <button (click)="clearField('anyo')" class="clear-btn" type="button">⊗</button>
                    }
                </div>
                @if (editForm.get('anyo')?.touched) {
                    @if (editForm.get('anyo')?.hasError('required')) {
                        <span class="error-msg">El año del vehículo es obligatorio</span>
                    } @else if (editForm.get('anyo')?.hasError('min') || editForm.get('anyo')?.hasError('max')) {
                        <span class="error-msg">El año debe estar entre {{ minYear }} y {{ maxYear }}</span>
                    } @else if (editForm.get('anyo')?.hasError('pattern')) {
                        <span class="error-msg">El año del vehículo debe ser un número entero válido</span>
                    }
                }
            </div>

            <div class="form-group">
                <label>Combustible</label>
                <select class="form-select" formControlName="tipoCombustible">
                    <option disabled value="">Selecciona tipo</option>
                    @for (tipo of FUEL_TYPES; track tipo) {
                        <option [value]="tipo">{{ tipo }}</option>
                    }
                </select>
                @if (editForm.get('tipoCombustible')?.hasError('required') && editForm.get('tipoCombustible')?.touched) {
                    <span class="error-msg">El campo de combustible es obligatorio</span>
                }
            </div>
        </div>

        <div class="form-group">
            <label>Consumo medio ({{ consumptionUnit() }})</label>
            <div class="input-wrapper">
                <input
                    [min]="minConsumoMedio"
                    formControlName="consumoMedio"
                    placeholder="5.5"
                    step="0.1"
                    type="number"
                />
                @if (editForm.get('consumoMedio')?.value) {
                    <button (click)="clearField('consumoMedio')" class="clear-btn" type="button">⊗</button>
                }
            </div>
            @if (editForm.get('consumoMedio')?.touched) {
                @if (editForm.get('consumoMedio')?.hasError('required')) {
                    <span class="error-msg">El campo de consumo medio es obligatorio</span>
                } @else if (editForm.get('consumoMedio')?.hasError('min')) {
                    <span
                        class="error-msg">El consumo medio debe ser un número positivo y mayor o igual que {{ minConsumoMedio }}</span>
                }
            }
        </div>

        <div class="form-actions">
            <button
                (click)="onSave()"
                [disabled]="editForm.invalid"
                class="btn btn-primary"
                type="button"
            >
                GUARDAR
            </button>

            <button (click)="onCancel()" class="btn btn-cancel" type="button">
                CANCELAR
            </button>
        </div>
    </form>
</div>
