.coords-dialog-container {
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
}

.dialog-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-black);
}

.dialog-subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: #888;
    font-size: 0.9rem;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

// Estilos específicos para los botones de acción
.actions-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.search-btn {
    width: 100%;
    padding: 0.75rem;
    border-radius: var(--radius-full);
    border: none;
    background-color: var(--color-mint-green); // Verde Menta
    color: var(--color-teal-dark);
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    transition: opacity 0.2s;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: var(--color-mint-green-light);
    }
}

.cancel-btn {
    width: 100%; // En la imagen parece del mismo ancho o ligeramente menor
    padding: 0.75rem;
    border-radius: var(--radius-full);
    border: none;
    background-color: var(--color-orange); // Naranja
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        opacity: 0.9;
    }
}

// Ajustes finos para el MatFormField para que parezca "Lavender" como en la foto
::ng-deep .custom-field {
    .mat-mdc-text-field-wrapper {
        background-color: var(--color-lavender) !important; // Fondo lavanda suave
        border-radius: var(--radius-md);
    }
}

:host-context(.dark-theme) {
    .coords-dialog-container {
        background-color: var(--color-purple-dark);

        .dialog-subtitle {
            color: var(--color-lavender);
        }

        .form-container mat-hint  {
            color: var(--color-white) !important;
        }

    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    --webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
